.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    filter: url("#goo");

    &:after {
        content: "";
        width: 4em;
        height: 4em;
        background: #8360c3;
        border-radius: 50%;
        position: absolute;
        transform: scale(0.5);
        animation: grow 2s cubic-bezier(.14, 0.05, 0.55, 0.5) infinite alternate;
    }

    span {
        width: 2em;
        height: 2em;
        background: #2ebf91;
        border-radius: 50%;
        margin-right: 2em;
        position: relative;
        transform: translateX(6em);
        animation: move 3s ease-in-out infinite;

        &:before {
            content: "";
            width: 2em;
            height: 2em;
            background: #8360c3;
            border-radius: 50%;
            position: absolute;
            left: 3em;
            transform: translateX(0em);
            animation: shrink 2s ease-in-out infinite;
        }

        &:after {
            content: "";
            width: 2em;
            height: 2em;
            background: #2ebf91;
            border-radius: 50%;
            position: absolute;
            right: 3em;
            transform: translateX(0em);
            animation: shrink 2s ease-in-out infinite;
        }
    }
}

@keyframes grow {
    0% {
        transform: scale(0.5);
        background: #8360c3;
    }

    50% {
        transform: scale(1);
        background: #2ebf91;
    }
}

@keyframes move {
    0% {
        transform: translateX(6em);
    }

    50% {
        transform: translateX(-4em)
    }
}

@keyframes shrink {
    0% {
        transform: translateX(0em)
    }

    50% {
        transform: translateX(-1em)
    }
}

.loaderSvg {
    width: 0;
    height: 0;
}

/*Color Loader*/

