input {
    width: 100%;
    border-radius: 10px;
    border: 0px solid;
    padding: 8px 10px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s;
  
    &:focus {
        outline: 2px solid;
    }
  }