

.defaultLayout{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    .content{
        width: 100%;
        padding: 50px 25%;
        display: flex;
        justify-content: center;

    }
}

@media (max-width: 768px) {
    .defaultLayout{
       
    
        .content{
            padding: 0;
        }
    }
}

